body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #70c5ce;
}

canvas {
  border: 2px solid #000;
  background: #70c5ce;
}

html, body {
  overflow: hidden; /* stops scrolling */
  touch-action: none; /* disables default touch gestures */
}
