html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;      /* prevent scrolling */
  touch-action: none;    /* disable gestures */
  background: #70c5ce;
}

canvas {
  display: block;
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
}
